#wallBody, html {
	background-color: #E3DFDC;
	margin: 0;
    font-family: 'Raleway', sans-serif;
}

#hide {
    display: none;
}

#dashNav {
	height: 10%;
	background-image: linear-gradient(90deg, #FFFFFF, #959595);
	display: flex;
	justify-content: space-between;
}

#dashLogo {
	width: 60%;
}

.dashHeadProfImg {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.dashHeadRight {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-self: center;
	margin-right: 20px;
	
}

.dashProfImg {
	width: 54px;
	height: 54px;
	border-radius: 50%;
}

#privacy {
	height: 2em;
			
}

.postImg {
	height: 100px;
	width: 100px;
}


.dashLink {
	align-self: center;
	justify-content: center;
	text-decoration: none;
	
}

#dashMainContainer {
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-gap: 30px;
}

.dashLeft {
	margin-left: 20%;	
}

.dashRight {
	margin-right: 20%;
}

.dashCenter {
	margin-top: 5%;
}

.dashLeft, .dashRight {
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	padding: 10px;
	margin-bottom: 20px;
	height: 50vh;
}

.dashProfImg {
			width: 50px;
		}
/* stil za levi div*/
.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.leviKlik {
	background:linear-gradient(to right, #ee801e, #e75b10);
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	color:#ffffff;
	font-size:17px;
	padding:10px 12px;
	text-decoration:none;
	border: none;	
}
.leviKlik:hover {
	background:linear-gradient(to left, #ee801e 5%, #e75b10 100%);
}
.leviKlik:active {
	position:relative;
	top:1px;
}
.linkovi {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.item1 {grid-area: profImg;}
.item2 {grid-area: input;}
.item3 {grid-area: insImage;}


.sendPost {
	display: grid;
	grid-template-areas:
'profImg input input input input input'
'profImg insImage . . . .';
	grid-gap: 10px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}	

.item2 {
	margin-bottom: 10px;
}

.inputField {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #f0f0f0;
	padding: 5px;
}

.item3 input {
	border-radius: 10px;
	border: none;
	padding: 5px;
}


.dashInsertComment img {
	padding: 10px;
}

.dashPosts {
	background-color: #FFF;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 10px;
	display: grid;
	grid-template-columns: 120px 1fr;
}

.dashLike {
	width: 30px;
	margin-right: 5px;
	border: 1px solid white;
	background-color: white;
}

.dashLike:hover {
	background-color: #f0f0f0;
	width: 35px;
}

.delEdit {
	display: flex;
}

.popup {
	background-color: red;
	position: relative;
	display: inline-block;
}

.popup .popuptext {
	width: 200px;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 75%;
	left: 50%;
}

.yesno {
	display: flex;
	justify-content: space-around;
}

#hide {
    display: none;
}

.dashHeadProfImg:hover #hide {
    display: block;
}

#popup { 
	display: none; 
	border: 1px black solid;
	width: 400px; height: 200px; 
	top:25%; left:25%;
	background-color: white;
	z-index: 10;
	padding: 2em;
	position: fixed;
}

.darken { 
	background: rgba(0, 0, 0, 0.7);
}

#iframe { 
	border: 0;
}

html, body, #page { 
	height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.closeedit {
    color: grey;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
}

